.stages {
  padding: 80px 0;
  width: 100%;
  max-width: 1680px;
  border-bottom: 1px solid #bebebe;
  margin: 0 auto;

  &__container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
    @media screen and (max-width: 1370px) {
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__upper-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__uppertitle {
    @include upperTitleStyle();
  }

  &__title {
    @include titleStyle();
    @media screen and (max-width: 1370px) {
      margin-bottom: 40px;
    }
    @media screen and (max-width: 700px) {
      margin-bottom: 30px;
    }
  }

  &__blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 50px;
    @media screen and (max-width: 1370px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 700px;
      margin: 0;
    }
    @media screen and (max-width: 700px) {
      max-width: 500px;
    }
  }

  &__first-block {
    padding: 0 20px;
    @media screen and (max-width: 330px){
      padding: 0 5px;
    }
  }

  &__container-text {
    display: flex;
    column-gap: 45px;
    row-gap: 15px;
    border-bottom: 1px solid #bebebe;
    margin-top: 15px;
    &:last-child {
      border-bottom: none
    }
  }

  &__number {
    @include number();
    @media screen and (max-width: 700px) {
      font-size: 40px;
    }
  }

  &__block-text {
  }

  &__block-title {
    @include FontBold();
    font-size: 24px;
    line-height: 56px;
    color: #000000;
    @media screen and (max-width: 700px) {
      line-height: 30px;
    }
  }

  &__block-paragraph {
    @include FontReq();
    font-size: 20px;
    line-height: 28px;
    color: #232323;
    margin-top: 14px;
    margin-bottom: 34px;
    @media screen and (max-width: 700px) {
      line-height: 22px;
      font-size: 18px;
      margin-top: 8px;
      margin-bottom: 20px;
    }
  }

  &__second-blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    width: 100%;
    max-width: 449px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 60px;
    @media screen and (max-width: 1370px) {
      max-width: 400px;
      margin: 40px 0;     
    }
    @media screen and (max-width: 700px) {
      max-width: 400px;
      margin: 40px 20px;     
    }
    @media screen and (max-width: 440px) {
      max-width: 300px;
    }
  }

  &__button {
    @include commonButton();

    &:hover {
      color: rgb(255, 255, 255);
      z-index: 5;
      position: relative;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 400px;
      height: 71px;
      background-color: rgb(0, 0, 0);
      z-index: -1;
      top: 0;
      transform: translateX(-500px);
      transition: all 0.4s ease-in-out;
    }

    &:hover::before {
      transform: translateX(-10px);
    }
  }
}

.stages__container-text:nth-child(1).element-animation {
  opacity: 0;
  transition: 0.8s ease-in-out;
  transform: translateX(-50px);
}

.stages__container-text:nth-child(2).element-animation {
  opacity: 0;
  transition: 1s ease-in-out;
  transform: translateX(-50px);
}

.stages__container-text:nth-child(3).element-animation {
  opacity: 0;
  transition: 1.2s ease-in-out;
  transform: translateX(-50px);
}

.stages__container-text:nth-child(4).element-animation {
  opacity: 0;
  transition: 1.4s ease-in-out;
  transform: translateX(-50px);
}

.stages__container-text.element-animation.element-show {
  opacity: 1;
  transform: translateY(0px);
}
