<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Компания ZEN - Продажа элитной недвижимости</title>
</head>
<body>
    @@include("../blocks/header/header.html")
    <main class="main">
        @@include("../blocks/selection/selection.html")
        @@include("../blocks/project/project.html")
        @@include("../blocks/stages/stages.html")
        @@include("../blocks/zone/zone.html")
        @@include("../blocks/commission/commission.html")
        @@include("../blocks/location/location.html")
        @@include("../blocks/contact/contact.html")
    </main> 
    @@include("../blocks/modal/modal.html")
    @@include("../blocks/footer/footer.html")

    <script src="https://unpkg.com/imask"></script>
    <script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
